<div id="koyla_page" class="content koylaPage">

    <input type="submit" value="Change language" id="changeLanguageBtn" class="button" (click)="changeLanguage_onClick()">

    <form>
        <header id="languageTranslatedFromHeader" class="formHeader">{{ langTranslateFrom }}</header>
        <input type="text" id="wordToTranslate" #toTranslate><br>
    </form>

    <input type="submit" value="Submit" id="submitBtn" class="button" (click)="getWord('english', toTranslate.value)">

    <header id="languageTranslatedToHeader" class="formHeader">{{ langTranslateTo }}</header>

    <div id="translation" class="translationDiv">{{ word }}</div>

</div>